/* components/Button.css */
$primary-color: #f40;
:export {
  primaryColor: $primary-color;
}

/* dialog.css */
.root {
  background-color: #eee;
}

.confirm {
  color: red;
}

.disabledConfirm {
  color: green;
}