/* components/Button.css */
$primary-color: #f40;
:export {
  primaryColor: $primary-color;
}

.Button_root_hash {

}

/* dialog.css */
.root {
  background-color: #eee;
}

.confirm {
  color: red;
}

.disabledConfirm {
  color: green;
}

:global {
  .btn {
    background-color: #00C49F;
  }
}